<h1>Beating Game Servers</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Port</th>
    <th>Title</th>
    <th>First seen</th>
    <th>Last seen</th>
  </tr>

<% @servers.each do |server| -%>
  <tr>
    <td><%=h server.hostname %></td>
    <td><%=  server.port %></td>
    <td><%=h server.title %></td>
    <td><%=time_ago_in_words server.created_at %></td>
    <td><%=time_ago_in_words server.updated_at %></td>
  </tr>
<% end -%>
</table>
