<h1>Known Game Servers</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Title</th>
    <th>First seen at</th>
    <th>Last beat at</th>
    <th>Game mode</th>
  </tr>

<% @servers.each do |server| -%>
  <tr>
    <td><%=h server.hostname %>:<%=h server.port %></td>
    <td><%=h server.title %></td>
    <td><%=h server.created_at %></td>
    <td><%=h server.updated_at %></td>
    <td><%=h server.game_mode %></td>
  </tr>
<% end -%>
</table>

